<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>You could make private wikis if you <%= link_to "upgraded", new_charge_path %> to premium</p>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
